<html>
<head>
	<title>Multidest Explore</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet'>
	<!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css"> -->
	<link href="styles.css" rel="stylesheet">
	<!-- <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>
	<!-- <script src="/js/angular-leaflet-directive.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
	<script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
	<script src="app.js"></script>
	<script src="ItineraryController.js"></script>
	<script src="airports.js"></script>
	</head>

<body ng-app="MultidestApp">
 <div id="<date-modal>"></div>

	<nav class="navbar navbar-inverse navbar-default">
  		<a class="navbar-brand" href="#"><i class="fa fa-plane"></i> MultiDest Explore</a>
	</nav>


<div ng-controller="Itinerary">

	<div id="itinerary">
		<button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Itinerary</button>
		<div uib-collapse="!isCollapsed">
			<div class="well well-lg">
				<div ng-repeat="stop in itinerary" class="row">
					<div class="col-sm-6">
						<h5>{{ stop }}</h5>
					</div>
					<div ng-repeat="legTotal in legTotals" class="leg-total col-sm-6">
						<h5>{{ legTotal }}</h5>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<button onclick="window.open('http://www.expedia.com//Flights-Search?trip=multi&leg1=from:Seattle,%20WA,%20United%20States%20(SEA-Seattle%20-%20Tacoma%20Intl.),to:SFO,departure:12/15/2015TANYT&leg2=from:SFO,to:Los%20Angeles,%20CA%20(LAX-Los%20Angeles%20Intl.),departure:12/22/2015TANYT&leg3=from:Los%20Angeles,%20CA%20(LAX-Los%20Angeles%20Intl.),to:San%20Diego,%20CA%20(SAN-All%20Airports),departure:12/29/2015TANYT&passengers=children:0,adults:1,seniors:0,infantinlap:Y&mode=search','Multi-Destination Trip Planning')" class="btn btn-success">Search Flights</button>
					</div>
					<div class="col-sm-6">
						<h5>{{ tripTotal }}</h5>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id='map'>
		<leaflet event-broadcast="events"></<leaflet>
	</div>

</div>
</body>
</html>
