body {
  margin:0;
  padding:0;
}
#map {
  position: absolute;
  top: 4em;
  bottom: 0;
  width:100%;
}
#itinerary {
    /*display: block;*/
    float: right;
    z-index: 3;
    position: relative; /*newly added*/
    right: 5px; /*newly added*/
    top: 5px;/*newly added*/
}
#marker.fa {
  float: right;
  z-index: 2;
  position: relative;
  padding: 3px;
  color: blue;
}

h6 {
  float: left;
  z-index:2px;
  position: relative;
}

h3 {
  font-weight: bold;
  color: green;
}

h7 {
  font-weight: lighter;
  color: green;
}
